@model X.PagedList.IPagedList<UnipDLL.BLL.Colaborador>
@{
    ViewData["Title"] = "Colaboradores";
}
@using X.PagedList;
@using X.PagedList.Mvc.Core;
<h2>Colaboradores cadastrados</h2>
<br />
<br />

<a asp-action="Cadastrar" class="btn btn-primary">Cadastrar</a>

@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success">@TempData["MSG_S"]</p>
}

@if (Model.Count > 0)
{

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Email)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (UnipDLL.BLL.Colaborador colaborador in Model)
                {

                    <tr>
                        <th scope="row">@colaborador.Id</th>
                        <td>@colaborador.Nome</td>
                        <td>@Html.DisplayFor(model => colaborador.Email)</td>
                        <td>
                            <a asp-action="GerarSenha" asp-route-id="@colaborador.Id" class="btn btn-secondary">Gerar Senha</a>
                            <a asp-action="Atualizar" asp-route-id="@colaborador.Id" class="btn btn-secondary">Atualizar</a>
                            <a asp-action="Excluir" asp-route-id="@colaborador.Id" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))
}
else
{
    <span>Nenhum Registro Cadastrado!</span>
}
